header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 1em;
}
header h1 {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}
.back {
  color: #004494;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  margin: 0 5px;
  align-items: center;
}
.back-text {
  margin-right: 5px;
  font-size: 24px;
}
.back figure {
  margin: 0;
  font-size: 12px;
  line-height: 8px;
  text-align: center;
}
main {
  margin: 0 1rem;
}
table {
  text-align: center;
  border-collapse: collapse;
}
td, th {
  padding: .5rem 1rem;
  border: solid black 1px;
}
th {
  font-weight: bold;
  background-color: #eee;
}
.en-link {
  font-size: .7rem;
  vertical-align: middle;
}
.source {
  font-size: .6rem;
  vertical-align: top;
  padding-left: 2px;
  text-decoration: none;
}
.source:before {
  content: "(";
}
.source:after {
  content: ")"
}
figure {
  width: fit-content;
  text-align: center;
  margin: 1rem auto;
}
figure img, figure svg {
  max-width: 100%;
}
figcaption {
  color: #333;
  font-style: italic;
  font-size: .9rem;
}
